body {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
/*	background-color: black;
*/}

/*div {
	border: 2px dashed white;
}*/

.background {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
	width: 100%;
	height: 1100px;
	background-image: url("images/ISOLATED.jpg");
}

.navbar {
	top: 0;
	left: 0;
	position: fixed;
	background-color: black;
	color: white;
	width: 100%;
	height: 50px;
	text-align: center;
}
.navbar ul {
	list-style-type: none;
}

.navbar li {
	display: inline-block;
	margin: 2 10 2 10;
}

.title {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 50px;
	height: 200px;
	position: fixed;
	top: 150px;
	left: 25%;
	z-index: -1;
	display: none;
}
.arrow {
	display:none;
	position: relative;
	top: 500px;
	text-align: center;
/*	background-image: url('images/down-arrow.png');
*/
}
.arrow-img:hover {
	cursor: pointer;
	opacity: .5;
}

.section {
	left: 0;
	font-size: 1.5em;
	color: white;
	background-color: rgba(07, 07, 07, .92);
	width: 100%;
	margin: auto;
}

#credits {
	font-family: 'Oswald', sans-serif;
/*	font-size: 3.5em;
*/	margin-top: 720px;
	height: 300px;
	margin-bottom: 50px;
	padding-top: 10px;
/*	border-radius: 50px;
*/}
#credits ul {
	list-style-type: none;
}
#credits .fir_row {
	margin-left: 10%;
}
#credits .fir_row span {
	margin-left: 50px;
}
#credits .sec_row {
	margin-left:30%;
}
#credits .sec_row span {
	margin-left:50px;
}
#credits h4 {
	margin-left: 12%;
	margin-top: 50px;
}
/*.cast-image {
	margin: 0 auto;
	height: 100px;
	width: 100px;
}*/

/*.person {
	width: 200px;
	height: 200px;
	float: left;
}*/

.oklahoma {
	background-color: rgba(07, 07, 07, .92);
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
	position: relative;
	z-index: -9;
	width: 100%;
	height: 300px;
	margin-bottom: 80px;
	color: white;
	padding-top: 20px;
}

.oklahoma .ok1 {
	margin-left: 20%;
}

.oklahoma .ok2 {
	margin-left: 5%;
}

.oklahoma .ok3 {
	margin-left: 25%;
}
.oklahoma .ok4 {
	margin-left: 7%;
}
.oklahoma .ok5 {
	text-align: center;
	font-size: 1.5em;
}

#contact {
	height: 300px;
		background:
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
	url("images/ok-top.jpg");
}

.email {
	font-family: 'Avenir';
	position: relative;
	top: 100px;
	left: 60%;
	width: 25%;
	text-align: center;
}

